<div class="bg-black w-full text-white flex flex-col min-h-screen">
    <nav class="bg-black text-white gap-8 flex px-8 py-4 items-center">
        <div class="text-2xl font-bold text-red-600">CINETRACK</div>
        <a href="#" class="text-sm hover:text-gray-300">Minha Lista</a>
    </nav>

    <div class="flex justify-between items-center px-8 py-2">
        <h1 class="font-sans">Filmes para assistir ></h1>
        <button (click)="abrirFormulario()"
            class="bg-red-600 hover:bg-red-700 text-white px-4 py-2 rounded flex items-center gap-2 transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110">
            Adicionar filme
        </button>
    </div>

    <div class="text-black min-h-screen flex items-center justify-center p-4">
        <div class="max-w-md mx-auto bg-white p-8 rounded-2xl shadow-lg mt-8">
            <h2 class="text-red-600 text-2xl font-semibold mb-6">Adicionar Novo Filme</h2>

            <form (ngSubmit)="adicionarFilme()" class="flex flex-col gap-4">
                <input type="text" placeholder="Digite o título do filme" [(ngModel)]="novoFilme.titulo" name="titulo"
                    required
                    class="w-full p-3 rounded-lg border border-gray-300 bg-gray-100 text-base focus:outline-none focus:ring-2 focus:ring-red-500" />

                <textarea placeholder="Digite a descrição do filme" [(ngModel)]="novoFilme.descricao" name="descricao"
                    class="w-full p-3 rounded-lg border border-gray-300 bg-gray-100 text-base resize-y min-h-[100px] focus:outline-none focus:ring-2 focus:ring-red-500"></textarea>

                <div class="flex flex-wrap gap-4 justify-between">
                    <label class="flex items-center gap-2 text-gray-700">
                        <input type="radio" [(ngModel)]="novoFilme.status" name="status"
                            [value]="StatusFilme.Assistido" />
                        Assistido
                    </label>

                    <label class="flex items-center gap-2 text-gray-700">
                        <input type="radio" [(ngModel)]="novoFilme.status" name="status"
                            [value]="StatusFilme.NaoAssistido" />
                        Não Assistido
                    </label>
                </div>

                <button type="submit"
                    class="self-center mt-4 px-6 py-2 rounded-full bg-red-600 text-white font-medium hover:bg-red-700 transition duration-300">
                    Adicionar Filme
                </button>
            </form>
        </div>
    </div>