<div class="relative w-full text-white overflow-hidden flex flex-col min-h-screen">

  <img
    src="assets/images/bg-home.jpg"
    alt="Background"
    class="absolute top-0 left-0 w-full h-full object-cover -z-10"
  />

  <div class="w-full max-w-7xl mx-auto px-4 sm:px-6 md:px-8 flex flex-col flex-grow">

    <header class="flex justify-between items-center py-6">
      <h1 class="text-2xl sm:text-3xl md:text-4xl font-bold text-red-600">CINETRACK</h1>
      <button (click)="irParaLogin()"
              class="bg-red-600 hover:bg-red-700 text-white px-3 sm:px-4 py-2 rounded flex items-center gap-2 transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110">
        Entrar
      </button>
    </header>

    <div class="flex justify-center text-center py-24 sm:py-32 md:py-48 flex-grow items-center">
      <p class="text-lg sm:text-xl md:text-2xl font-semibold max-w-3xl px-4">
        Organize suas séries, filmes e programas de TV, <br />
        e mantenha-se por dentro das novidades
      </p>
    </div>

    <div class="py-16 sm:py-24">
      <h2 class="text-center text-2xl sm:text-3xl md:text-4xl mb-8 pb-12">
        Descubra o que está em alta
      </h2>

      <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
        <div
          *ngFor="let filme of filmesEmAlta"
          class="relative bg-black/60 rounded-md h-48 flex items-end justify-center hover:bg-black/80 transition overflow-hidden"
        >
          <img [src]="filme.imagem" [alt]="filme.titulo" class="absolute w-full h-full object-cover opacity-30" />
          <span class="text-white mb-4 relative z-10 text-center text-sm sm:text-base">{{ filme.titulo }}</span>
        </div>
      </div>
    </div>

  </div>

  <footer class="bg-red-800 w-full h-20 flex items-center justify-center mt-auto">
    <p class="text-white text-sm sm:text-lg text-center px-2">© 2025 CineTrack - Todos os direitos reservados</p>
  </footer>

</div>
